<div class="p-4 mb-3 bg-light rounded">
  <h4 class="fst-italic">About</h4>
  <p class="mb-0">
    Introduction:<br>
    Greetings! I'm Ismael, a passionate Full-Stack Developer.<br>
    In this project, I've crafted a captivating magazine-style blog website, offering a glimpse into my proficiency in full-stack development. Leveraging Ruby on Rails for the robust back-end and Bootstrap for sleek front-end design, I've curated an engaging platform utilizing the Devise gem for seamless authentication, including email confirmation post-login, I've ensured a secure user experience. Additionally, PostgreSQL powers the database in the production environment, while SQLite3 facilitates database operations during development. Technologies such as Pundit, Rolify, Groupdate, Faker, and more have contributed to the project's functionality and versatility.<br>
    For an in-depth view of my work, dive into my GitHub repository. Let's connect on <%= link_to "LinkedIn", "https://www.linkedin.com/in/ismaelantonio/", target: "_blank"%> to explore collaboration opportunities further. Find the links below for easy access.
</p>
</div>