<div class="p-4">
    <h4 class="fst-italic">Connect with me </h4>
    <ol class="list-unstyled">
      <li><%= link_to "GitHub", "https://github.com/ixboy", target: "_blank"%></li>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/ismaelantonio/", target: "_blank"%></li>
      <li><%= link_to "Stackoverflow", "https://stackoverflow.com/users/14737703/ismael-antonio", target: "_blank"%></li>      
    </ol>
</div>