<div class="p-4">
    <h4 class="fst-italic">Connect with me </h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/ixboy">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/ismaelantonio/">LinkedIn</a></li>
      <li><a href="https://stackoverflow.com/users/14737703/ismael-antonio">Stackoverflow</a></li>
    </ol>
</div>