<h1> All Articles</h1>
<ul>
    <% @articles.each do |article| %>
        <li> <%= link_to article.title, article %> </li>
    <% end %>
</ul>
<h3>
    <%= link_to 'create new article', new_article_path %>
</h3>