<h1>Categories</h1>
<p>
    <%= link_to 'create new Category', new_category_path, class: 'btn btn-success' %>
</p>
<table class="table table-striped table-success table-hover"  >
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr >
        <td><%= category.name %></td>
        <td >
          <%= edit_category_link(category) %>
          <%= delete_category_link(category)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>